# node_modules
node_modules/

# Base de datos
*.db
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
